.fb_box{
    margin-top: 20px;
}
.fb_box .fb_div .list_ul .item{
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-radius: 10px;
}
.fb_box .fb_div .list_ul .item{
    margin-left: 10px;
}
.fb_box .fb_div .list_ul .item a{
    opacity: 0.9;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border-radius: 10px;
}
.fb_box .fb_div .list_ul .item a:hover{
    opacity: 1;
}
.addtofans{
    background-color: #ef7350;
}
.cancel{
    background-color: #aaa;
}