.clearfix {
    display: block;
}
.WB_footer {
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.15);
    font-size: 12px;
    display: block;
    clear: both;
    background-color: #fff;
}
.WB_footer .footer_link {
    width: 1000px;
    margin: 0 auto;
    padding: 20px 0 10px 80px;
}
.WB_footer .list {
    float: left;
    display: inline;
    margin: 0 70px 0 0;
}
.WB_footer .list:last-child {
    margin: 0;
}
.WB_footer .list dt {
    font-size: 16px;
    padding: 0 0 15px;
    white-space: nowrap;
    width: 138px;
    overflow: hidden;
}
.WB_footer .list dd {
    white-space: nowrap;
}
.WB_footer .list dd .col1 {
    width: 48px;
    overflow: hidden;
}
.WB_footer .list dd .col2 {
    width: 79px;
    overflow: hidden;
}
.WB_footer .list dd .col3 {
    width: 60px;
    overflow: hidden;
}
.WB_footer .list dd .col4 {
    width: 100px;
    overflow: hidden;
}
.WB_footer .list dd a, .WB_footer .list dd span {
    display: inline-block;
    margin: 0 20px 5px 0;
    text-decoration: none;
}
.WB_footer .list dd a:hover{
    color: #eb7350;
}
.WB_footer .list dd .T_code {
    float: left;
    margin-right: 10px;
}
.WB_footer .list dd a, .WB_footer .list dd span {
    display: inline-block;
    margin: 0 20px 5px 0;
}
fieldset, img {
    border: 0;
}
.WB_footer .list dd .T_txt {
    width: 109px;
    overflow: hidden;
    margin-right: 0px;
}
.WB_footer .list dd a, .WB_footer .list dd span {
    display: inline-block;
    margin: 0 20px 5px 0;
}
.WB_footer .T_add_ser {
    padding-bottom: 20px;
}
.WB_footer .other_link {
    text-align: center;
    width: 100%;
    padding: 20px 0 45px;
}
.S_bg1, .SW_fun_bg:hover, .SW_fun_bg_active {
    background-color: #f2f2f5;
}
.WB_footer .other_link .copy {
    line-height: 1em;
    margin-bottom: 10px;
}
.WB_footer .other_link .copy a, .WB_footer .other_link .copy_v2 a, .WB_footer .other_link .company a {
    margin-right: 20px;
}
.icon_weibo {
    background-position: -50px -300px;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 3px;
}
.WB_footer .other_link .company .copy {
    margin-right: 20px;
}
.WB_footer .other_link .copy {
    line-height: 1em;
    margin-bottom: 10px;
}
.S_txt2, .W_input, .W_btn_b_disable, .W_btn_b_disable:hover {
    color: #808080;
    text-decoration: none;
}
.WB_footer .other_link .T_server_v2, .WB_footer .other_link .copy_v2 {
    margin-bottom: 10px;
}
.S_txt2:hover{
    text-decoration: none;
    color: #ef7350;
}