body{padding-top: 50px;background-repeat: repeat-x;background-color: #b4daf0;}
fieldset{padding: 0;height: 11px;margin-top: 11px;padding: 0 0 0 120px;border-top-width: 1px;border-top-style: solid;border-color: rgba(255,255,255,0.2);    border-style: solid;    border-width: 1px 0 0 0;}
.boxtest{width: 602px;}
.box-content{margin-left: 150px;}
.bgsmred{opacity:0.8;background-color:#FFC09F !important;cursor: default !important; }
.bgred{background: #FF8140 !important;}
.Wejoy_feed_detail{padding: 20px 20px 4px;font-size: 16px;position: relative;}
.Wejoy_detail{margin-left: 60px;}
.Wejoy_face{position: absolute;height: 50px;width: 50px;}
.WJ_info{margin-bottom: 7px;padding-top: 5px;width: 100%;}
.bg1{color: #ff6700;}
.bg2{background: #b4daf0;}
.bg3{background: #ff6700;}
.bgorigin{color:#ff6700 !important;}
.right{float: right;}
.left{float: left;}
.WJ-menu-right{top:20px;}
.Wj_cursons{cursor: pointer;}
.masonry{height:100% !important;}
.WJ_text{color: #808080;height: 20px;margin-bottom: 2px;}
.WJ_text2{margin-bottom: 2px;}
.Wj_media_wrap{height: 200px;width: 100%;}
.WJ_row_line{border-top-width: 1px;border-top-style: solid;height: 38px;border-color: #f2f2f5;margin:0;}
.WJ_row_line li{padding: 0;height: 38px;text-align: center;width: 25%;}
.WJ_row_line li span{text-align: center;height: 22px;margin: 7px 0;border-left-width: 1px;border-left-style: solid;height: 22px;color:#808080;line-height: 22px;width: 100%;border-color: #f2f2f5;cursor: pointer;}
.WJ_row_line li:hover span{color: #ff6700;}
.pos{margin-left: -1px !important;display: block;border-left-width: 0 !important;}
.test{position: relative;}
.test2{background: rgba(255,255,255,0.2) none repeat scroll !important;}
.font-size-larg{font-size: 20px;}
.slideright{float: left;}
.slideleft{position: fixed;}
.box_main{width: 1000px;margin: 0 auto;}
.bgcolor{background-color: rgba(70,149,194,0.3); padding-top: 20px;padding-bottom: 80px;}
.MJ_slideleft li{height: 34px;font-size: 12px;font-weight: bold;padding: 0 0 0 15px;line-height: 34px;display: block;color:#FFFFFF;width: 150px;}
.MJ_slideleft li span{font-size: 12px;margin-right: 7px;margin-top: 10px;margin-bottom: 10px;height: 14px;line-height: 14px;}
.MJ_slideleft li span a{line-height: 14px;}
.MJ_slideleft li:hover{background-color: #81B8D9;cursor: pointer;}
.panel{margin-bottom: 5px;}
.WJbadge{background-color: #ff6700;height: 14px;float: right;width: 20px;text-align: center;border: 1px solid #ff6700;border-radius:2px;}
.WE_feed_publish{    background-color: #f2f2f5;}
.WE_repeat{    padding: 16px 0 6px;    padding: 16px 0 6px;    border-top-width: 1px;    border-top-style: solid;border-top-color:#d9d9d9;border-color: #d9d9d9;}
.WE_feed_comments{padding-left: 20px; padding-right: 20px;}
.WE_publish{margin-left: 40px;margin-bottom: 2px;margin-top: 2px;}
.WE_publish input{width: 100%;}
.WE_publish_face{position: relative;width: 30px;height: 30px;float: left;}
.WE_publish_face img{width: 100%;height: 100%;}
.repeat_list{padding:0 20px;}
.tab_feed_a{margin:6px 0 4px;padding:12px 0 0;border-top-width: 1px;border-top-style: solid;border-color: #d9d9d9;height: 20px;}
.list_li{margin:0 0 -1px;padding:5px 0 7px;border-bottom-width: 1px;border-bottom-style: solid;border-color:#d9d9d9;}
.WE_face{position: relative;width: 30px;height: 30px;float: left;}
.WE_face img{width: 100%;height: 100%;}
.list_con{margin: 0 0 0 40px;}
.WE_time{color: rgb(128, 128, 128); font-size: 12px;}
.WE_text a{text-decoration: none;cursor: pointer;color:#eb7350;}
/*js 用途css*/
.Weborder{border:1px solid #ff6700;}
/*js 用途css end*/
.slidefloat{bottom:360px;}
/*右侧css开始*/
.WB_main_r {
    width: 215px;
    margin-right: 10px;
    position: relative;
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    font-size: 12px;
}
.WB_main_r a{
    color:#000;
}
.templete_enter {
    position: fixed;
    top: 50px;
    right: 0;
    z-index: 9999;
    width: 230px;
}
.templete_enter .icon_setskin {
    right: 0;
    top: 0;
    position: absolute;
}
.icon_setskin {
    width: 42px;
    height: 44px;
    background-position: -150px -200px;
}
.PCD_pictext_g, .WB_innerwrap,.WB_right_module{
    background-color: #fff;
}
/*右侧1 登陆界面*/
.login_box {
    min-height: 280px;
    background-color: #fff;
    padding: 0 15px 6px 15px;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0,0,0,0.15);
    margin: 0 0 10px 0;
    background-color: #fff;
}
.info_header {
    position: relative;
}
.login_prompt{
    width: 200px;
    text-align: center;
    margin-top: 10px;
}
.send_div {
    position:absolute;
    width:200px;
    height:40px;
    line-height: 40px;
    background:#fff;
    border-radius:5px; /* 圆角 */
    margin:30px auto 0;
    top: -80px;
    left: -5px;
    box-shadow: 0 4px 20px 1px rgba(0,0,0,0.2);
}
.send_div .close_div{
    display: inline-block;
    position: absolute;
    top: -13px;
    right: 3px;
}
.send_div .arrow_div {
    position: absolute;
    top: 40px;
    left: 89px;
    width: 0;
    height: 0;
    font-size: 0;
    border: solid 8px;
    border-color: #fff transparent transparent transparent;
}

.info_header .tab {
    margin-bottom: 16px;
    padding-top: 11px;
    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(204,204,204,.5);
}
.info_header .tab a.cur {
    border-bottom: 3px solid #fa7d3c;
    color: #000;
}
.info_header .tab a {
    float: left;
    margin-bottom: -1px;
    width: 50%;
    border-bottom: 3px solid transparent;
    color: #000;
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    transition: border .2s cubic-bezier(0.43, 0.37, 1, 1);
}
.W_login_form {
    position: relative;
    top: 0;
    left: 0;
}
.info_list {
    margin-top: 12px;
}
.W_login_form .input_wrap {
    height: 34px;
    padding: 2px 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    background-color: #FFF;
}
.W_login_form .username .input_wrap {
    background-position: 11px -91px;
}
.W_login_form .info_list  .input_wrap span {
    display: inline-block;
    width: 28px;
    height: 28px;
    float: left;
}
.login_username{
    background-position: 11px -91px;
}
.login_password{
    background-position: -39px -91px;
}
.W_login_form .input_wrap .W_input {
    float: right;
    width: 140px;
    border: none;
    box-shadow: none;
    height: 28px;
    line-height: normal;
    padding: 0 0 0 2px;
    vertical-align: middle;
    outline-style: none;
}
.W_input, .send_weibo .input {
    background-color: #fff;
}
.W_login_form .verify .input_wrap {
    width: 90px;
    float: left;
}
.W_login_form .verify .W_input {
    margin-left: 0px;
    width: 88px;
    float: left;
}
.W_login_form .verify .code {
    margin-left: 5px;
}
.W_login_form .verify a {
    height: 34px;
}
.W_login_form .auto_login {
    height: 15px;
}
.W_login_form .W_checkbox {
    margin-top: -1px;
}
.W_checkbox, .W_radio {
    vertical-align: middle;
    margin-right: 3px;
}
.W_login_form .login_btn .W_btn_a {
    padding: 0;
    width: 185px;
    font-size: 16px;
    text-decoration: none;
}
.W_login_form .login_btn .W_btn_a:hover {
    background-color:#f77c3d;
}
.btn_32px {
    display: inline-block;
    height: 32px;
    line-height: 33px;
    font-size: 14px;
}
.btn_32px span {
    color: #fff;
    width: 185px;
    text-align: center;
    display: inline-block;
}
.W_btn_a {
    background: #ff8140;
    border: 1px solid #f77c3d;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
.W_login_form .register {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    border-bottom-color: rgba(204,204,204,.5);
}
.W_login_form .register .S_txt2:hover {
    color: #808080;
}
.W_login_form .register a {
    text-decoration: none;
    color: #ef7350;
}

/*右侧1  个人信息*/
.WB_cardwrap {
    margin: 0 0 10px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 2px;
}
.W_person_info {
    height: 165px;
    overflow: hidden;
}
.W_person_info .cover {
    position: relative;
    height: 75px;
    background-repeat: no-repeat;
    z-index: 1;
}
.W_person_info .cover .headpic {
    width: 60px;
    height: 60px;
    padding: 3px;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -20px;
    left: 50%;
    margin-left: -30px;
}
.W_person_info .cover .headpic .W_face_radius{
    border-radius: 50%;
}
.W_person_info .WB_innerwrap {
    padding: 16px 16px 9px 16px;
}
.WB_innerwrap {
    padding: 16px;
}
.W_person_info .nameBox {
    height: 16px;
    line-height: 16px;
    padding-top: 5px;
    text-align: center;
}
.W_person_info .nameBox .name, .W_person_info .nameBox .W_icon, .W_person_info .nameBox .W_icon_vipstyle, .W_person_info .nameBox .W_icon_co1 {
    vertical-align: middle;
}
.W_person_info .nameBox .name {
    max-width: 114px;
    _width: 114px;
    display: inline-block;
    overflow: hidden;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.icon_member, .icon_member_dis, .icon_wedding {
    width: 14px;
    height: 14px;
    margin-left: 3px;
    display: inline-block;
}
.W_person_info .nameBox .W_icon_level {
    height: 14px;
    vertical-align: middle;
}
.W_icon_level.icon_level_c2 {
    background-color: #ffb400;
}
.icon_member_dis {
    background-position: 0 -200px;
}
.W_icon_level {
    width: 30px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    background: #a4a4a4;
    border-radius: 8px;
    margin: 0 0 0 3px;
    padding: 0 5px 0 3px;
}
.W_person_info .nameBox .W_icon_level .txt_out {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 2px 0 1px;
    z-index: 10;
    overflow: hidden;
}
.W_icon_level span {
    font-size: 12px;
    color: #fff;
    font-style: italic;
    letter-spacing: -0.1em;
}
.W_person_info .nameBox .W_icon_level .txt_in {
    display: block;
    height: 28px;
}
.W_person_info .nameBox .W_icon_level .txt_in span {
    display: block;
    font-family: Arial;
}
.user_atten {
    height: 34px;
    overflow: hidden;
    margin: 10px 0 0 0;
}
.W_f18 {
    font-size: 18px;
}
.user_atten li {
    float: left;
    width: 60px;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d9d9d9;
}
.user_atten li:last-child {
    border-right-width: 0px;
}
.user_atten li a {
    display: block;
}
.user_atten li strong {
    display: block;
    font-weight: bold;
    line-height: 18px;
    width: 60px;
    overflow: hidden;
}
.user_atten li .S_txt2 {
    display: block;
    font-size: 12px;
}
.S_line1 .S_txt1{
    text-decoration: none;
}
.S_line1 .S_txt1:hover strong{
    color: #ef7350;
}
/*右侧2 微博电影推荐*/
.WB_cardwrap {
    margin: 0 0 10px 0;
    box-shadow: 0 0 2px rgba(0,0,0,0.2);
    border-radius: 2px;
}
.WB_cardtitle_b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.WB_cardtitle_a, .WB_cardtitle_b, .WB_cardtitle_d {
    position: relative;
    height: 38px;
    padding: 0 16px;
    line-height: 38px;
    overflow: hidden;
}
.WB_cardtitle_a .main_title, .WB_cardtitle_b .main_title, .WB_cardtitle_c .main_title, .WB_cardtitle_d .main_title {
    display: inline;
}
.W_f14 {
    font-size: 14px;
}
.W_fb {
    font-weight: 700;
}
.W_f14 a{
    text-decoration: none;
    color: #ef7350;
}
.PCD_pictext_g .WB_innerwrap {
    padding: 0;
}
.PCD_pictext_g .list_box {
    overflow: hidden;
}
.PCD_pictext_g .pt_ul {
    margin-top: -1px;
}
.PCD_pictext_g .pt_ul .item {
    padding: 0 6px;
}
.PCD_pictext_g .pt_ul .li_box {
    padding: 6px 0;
    border-top-style: solid;
    border-top-width: 1px;
}
.S_line2 {
    border-color: #f2f2f5;
}
.PCD_pictext_g .pt_ul .show .pic_box {
    display: inline;
    float: left;
    width: 72px;
    height: 96px;
    margin-right: 5px;
    overflow: hidden;
}
.PCD_pictext_g .pt_ul .pic_box {
    display: none;
    position: relative;
}
.PCD_pictext_g .pt_ul .pic_box .pic {
    width: 72px;
    height: 96px;
}
.PCD_pictext_g .pt_ul .show .info_box {
    height: 96px;
    line-height: 14px;
    padding: 0 10px 0 0;
}
.PCD_pictext_g .pt_ul .info_box {
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    _height: 16px;
    _line-height: 16px;
    padding: 0 10px;
    _padding: 10px;
}
.PCD_pictext_g .pt_ul .show .info_box .title {
    float: none;
    display: block;
    margin: 3px 0;
    padding-top: 1px;
    font-weight: bold;
    width: auto;
    _width: 100%;
}
.PCD_pictext_g .pt_ul .info_box .title {
    float: left;
    font-size: 14px;
    width: 138px;
}
.W_autocut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.text_box .subtitle{
    cursor: default;
}
.PCD_pictext_g .pt_ul .show .info_box .subtitle {
    display: block;
    line-height: 18px;
}
.PCD_pictext_g .pt_ul .info_box .subtitle, .PCD_pictext_g .pt_ul .info_box .text {
    display: none;
}
.PCD_pictext_g .pt_ul .show .info_box .text {
    display: block;
    line-height: 18px;
}
.PCD_pictext_g .pt_ul .show .info_box .text {
    display: block;
    line-height: 18px;
}
.text_box .title {
    text-decoration: none;
}
.text_box .title:hover{
    color: #ef7350;
}
.WB_cardmore {
    display: block;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-top-style: solid;
    border-top-width: 1px;
}
.WB_cardmore:hover{
    color: #ef7350;
    text-decoration: none;
}
.WB_right_module .WB_cardtitle_b {
     overflow: visible;
 }
.WB_cardtitle_b {
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
.WB_right_module .WB_cardtitle_b .obj_name .main_title {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}
.WB_right_module .WB_cardtitle_b .obj_name .main_title .S_txt1 {
    color: #000;
}
.WB_cardtitle_a .opt_box, .WB_cardtitle_b .opt_box {
    position: absolute;
    right: 16px;
    top: 10px;
}
.WB_cardtitle_a .opt_change, .WB_cardtitle_b .opt_change {
    vertical-align: middle;
}
.WB_right_module .hot_topic {
    margin: -4px 0 -5px 0;
}
.WB_right_module .hot_topic li {
    padding: 8px 0 5px;
}
.WB_right_module .hot_topic li p {
    word-wrap: break-word;
}
.WB_right_module .hot_topic li .total {
    float: right;
}
.WB_right_module .hot_topic li .total:hover {
    color: #808080;
}
.hot_topic li p .S_txt1{
    text-decoration: none;
    color: #000;
}
.hot_topic li p .S_txt1:hover{
    color: #ef7350;
}
/*右侧5 好友动态*/
.WB_cardtitle_d {
    height: auto;
    line-height: 1.2;
    padding: 16px 10px 8px 16px;
}
.WB_cardtitle_d .W_autocut {
    display: inline-block;
    max-width: 8em;
    vertical-align: top;
}
.W_autocut {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.WB_right_module .friends_dynamic {
    overflow: hidden;
}
.WB_right_module .group_list li:last-child {
    border-bottom: none;
}
.WB_right_module .group_list .pic {
    float: left;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.WB_right_module .group_list .con {
    margin-left: 40px;
    min-height: 30px;
    line-height: 30px;
    position: relative;
}
.WB_right_module .friends_dynamic .name {
    height: 14px;
    line-height: 14px;
}
.WB_right_module .group_list .name {
    height: 22px;
}
.icon_approve_gold {
    background-size: 475px 14px;
}
.icon_approve_gold, .icon_pf_approve_gold {
    background-position: left;
    background-repeat: no-repeat;
    animation-timing-function: steps(23);
    animation-name: stepsV1;
    animation-delay: 1s;
    animation-duration: 1.5s;
    animation-iteration-count: 3;
    animation-fill-mode: forwards;
}
.icon_approve_gold {
    background-position: 0 -300px;
    width: 15px;
}
.icon_approve, .icon_approve_gold, .icon_approve_co, .icon_approve_dead {
    width: 14px;
    height: 14px;
    margin-left: 3px;
    vertical-align: -2px;
    vertical-align: text-bottom;
}
.WB_right_module .friends_dynamic .info {
    width: 8em;
    height: 1.2em;
    line-height: 1.2em;
    margin-top: 3px;
}
.WB_right_module .friends_dynamic .opt_m {
    position: absolute;
    right: 0;
    top: 0;
}
.WB_right_module .friends_dynamic .opt_m .W_btn_b {
    padding: 0 5px 0 5px;
}
.W_btn_b .ficon_add {
    _line-height: 24px;
}
.W_btn_b .ficon_add {
    color: #fa7d3c!important;
}
.WB_right_module .WB_cardtitle_d a,.WB_right_module .WB_innerwrap a{
    text-decoration: none;
    color: #ef7350;
}
.W_btn_b {
     height: 26px;
     line-height: 26px;
     display: block;
     border-width: 1px;
     border-style: solid;
     box-shadow: 0px 1px 2px rgba(0,0,0,0.1);
     color: #000;
     background-color: #fff;
     border-color: #d9d9d9;
 }
.W_btn_b:hover {
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}
.W_ficon {
    font-weight: 900;
    display: inline-block;
}
.W_btn_b span{
    color: #000;
}
/*关注窗口*/
.W_layer {
    position: fixed;
    z-index: 9999;
    top: 30%;
    left: 40%;
    opacity: 1;
}
.W_layer .content {
    position: relative;
    background: #fff;
    border-radius: 3px;
    border-top: 2px solid #fa7f40;
}
.W_layer .W_layer_title {
    border-bottom: 1px solid #f2f2f5;
    line-height: 38px;
    font-size: 14px;
    font-weight: 700;
    padding: 0 0 0 16px;
    vertical-align: middle;
}
.W_layer .W_layer_close .ficon_close {
    position: absolute;
    z-index: 2;
    right: 12px;
    top: 9px;
    font-size: 18px;
}
.W_layer .W_layer_content {
    width: 450px;
    height: 200px;
}
.W_layer .W_layer_content  .fans_status{
    text-align: center;
    line-height: 150px;
    position: relative;
    width: 450px;
    height: 150px;
}
.W_layer .W_layer_content  .fans_status .fans_status_span{
    font-size: 22px;
    margin-left: 20px;
    display: inline-block;
}
.W_layer .W_layer_content  .fans_status .glyphicon{
    font-size: 45px;
    color: #fa7f40;
}
.W_layer .W_layer_content .ficon_close_div{
    text-align: center;
}
.W_layer .W_layer_content .ficon_close{
    width: 200px;
    background-color: #fa7f40;
    border: 0px;
    outline: none;
    opacity: 0.9;
}
.W_layer .W_layer_content .ficon_close:hover{
    opacity: 1;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
}
.out_biv{
    position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background: rgb(0, 0, 0);opacity: 0.3;z-index: 9999;
}
